---
extends: 'default'

ignore: |
  deployments/archive/grafana.yaml
  deployments/archive/newrelic-infra.yaml
  deployments/archive/prometheus.yaml

rules:
  comments:
    level: 'error'
  comments-indentation:
    level: 'error'
  document-start:
    level: 'error'
  line-length:
    max: 400
    level: 'error'
  quoted-strings:
    level: 'error'
    ignore: |
      ./deployments/archive/
  truthy:
    check-keys: False
    allowed-values:
      - 'False'
      - 'True'
    level: 'error'
